@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  background: hsla(194, 45%, 71%, 1);
  background: linear-gradient(90deg, hsla(194, 45%, 71%, 1) 0%, hsla(0, 0%, 95%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(194, 45%, 71%, 1) 0%, hsla(0, 0%, 95%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(194, 45%, 71%, 1) 0%, hsla(0, 0%, 95%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#93C6D6", endColorstr="#F3F3F3", GradientType=1 );
  overflow-y: hidden;
}

.content {
  min-height: 100vh;
  position: relative;
}

#map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

/* #sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
} */
  

/* #map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* #air-data-container,
#data-grid,
#gauge-container {
  border-radius: 49px;
  background: #e0e0e0;
  box-shadow: 19px 19px 38px #8d8d8d,
             -19px -19px 38px #ffffff;
}  */